.button {
  color: #fff;
  background: var(--button--bg);
  box-shadow: 0px 4px 20px 0px #00000040;
  padding: 13px 20px;
  border-radius: 20px;
  border: none;
  font-style: normal;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;
  text-decoration: none;

  @include onTablet {
    font-size: 33px;
    line-height: 40px;
    padding: 20px 40px;
    gap: 20px;
    border-radius: 42px;
  }

  @include onDesktop {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.8px;
  }

  &--light {
    font-family: "DM Sans", sans-serif;
    background: var(--bg--box);
    padding: 6px 10px;
    border-radius: 13px;
    font-weight: 500;
    line-height: 32px;

    @include onTablet {
      padding: 12px 20px;
      border-radius: 27px;
    }

    @include onDesktop {
      font-size: 28px;
      font-weight: 500;
      padding: 15px 20px;
    }
  }

  &--balance {
    padding: 13px 20px;
    flex-grow: 1;

    @include onTablet {
      flex-grow: 0;
      padding: 20px 30px;
    }
  }

  &--active {
    background: #092145;
  }

  &--cancel {
    background:#181A1E;
    padding: 10px 22px;

    @include onTablet {
      padding: 20px 44px;
    }
  }

  &__status {
    padding: 5px 20px;
    background: #D8E1FF;
    color: #2E65F3;
    box-shadow: none;

    &--complete {
      background-color: #DDE4BA;
      color: #0FAF62;
    }

    @include onTablet {
      padding: 10px 40px;
    }

    @include onDesktop {
      padding: 5px 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.45px;
      text-align: left;
    }
  }

  &--card {
    padding: 15px 20px;
    border-radius: 20px;
    margin: 0 14px 10px 0;

    @include onTablet {
      padding: 30px 40px;
      border-radius: 40px;
      margin: 0 28px 20px 0;
    }
  }

  &--add {
    position: absolute;
    right: 21px;
  }

  &--header {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    padding: 8px 20px;

    @include onTablet {
      font-size: 19px;
      line-height: 22.33px;
      padding: 14px 35px;
    }

    @include onDesktop {
      font-size: 24px;
      line-height: 28.2px;

      padding: 20px 50px;
    }
  }
}
