.footer {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 13px;
  display: flex;
  background: var(--bg--box);
  justify-content: flex-end;

  @include onTablet {
    padding: 26px;
  }

  & > svg {
    @include onTablet {
      width: 38px;
      height: 38px;
    }
  }

  @include onDesktop {
    display: none;
  }
}
