.form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--text--white);

  transform: translateX(-100%);
  transition: all $duration;


  &__container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg--box);
    @extend %shadow;
    margin: 0 8px;
    padding: 20px 18px;
    z-index: 1;

    @include onTablet {
      margin: 0 16px;
      padding: 40px 36px;
    }

    @include onDesktop {
      padding: 50px;
      max-width: 470px;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.85px;

    @include onTablet {
      font-size: 46px;
      line-height: 53.42px;
      margin: 0 0 40px;
    }

    @include onDesktop {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 23.5px;
      margin-bottom: 30px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    color: var(--text--white);

    @include onTablet {
      margin-bottom: 16px;
      font-size: 28.93px;
      line-height: 34px;
    }

    @include onDesktop {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.8px;
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 14px;
    padding: 11px 14px 11px 14px;
    border-radius: 30px;
    border: 1px solid $grey;
    background-color: var(--bg--box);

    @include onTablet {
      border: 2px solid $grey;
      padding: 22px 28px;
      border-radius: 62px;
      font-size: 28.93px;
      line-height: 34px;
      margin-bottom: 28px;
    }

    @include onDesktop {
      padding: 10px 20px;
      margin-bottom: 30px;
      font-size: 14px;
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.45px;
      color: $grey;

      @include onTablet {
        font-size: 28.93px;
        line-height: 34px;
      }

      @include onDesktop {
        font-size: 14px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__flex {
    display: flex;
    gap: 28px;
    margin-bottom: 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-add {
      padding: 10px 34px;

      @include onTablet {
        padding: 20px 70px;
      }

      @include onTablet {
        padding: 10px 40px;
      }
    }
  }
}
