.form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--text--white);

  transform: translateX(-100%);
  transition: all $duration;

  &__container {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    background-color: var(--bg--box);
    @extend %shadow;
    margin: 0 28px;
    padding: 20px 18px;
    z-index: 1;

    @include onTablet {
      margin: 0 16px;
      padding: 40px 36px;
    }

    @include onDesktop {
      padding: 50px;
      max-width: 470px;
      margin: 0 auto;
    }

    &--deleteProfile {
      max-width: 614px;
      padding: 35px 58px 44px;
      box-sizing: border-box;

      @include onTablet {
        padding: 78px 95px 56px;
        margin: 0 auto;
      }
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 400;

    @include onTablet {
      font-size: 46px;
      margin: 0 0 40px;
    }

    @include onDesktop {
      text-align: center;
      font-size: 20px;
      margin-bottom: 30px;
    }

    &--center {
      text-align: center;

      @include onTablet {
        font-size: 27px;
      }
    }
  }

  &__line {
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #3334FF;
    margin: 0 auto 18px auto;

    @include onTablet {
      width: 70px;
    }

    &::after,
    &::before {
      @extend %after;
      @include square(10px);
      background-color: #3334FF;
      left: -10px;
      top: 0;
      transform: rotateZ(45deg) translateY(-50%);
    }

    &::before {
      right: -5px;
      left: initial;
    }
  }

  &__warning {
    text-align: center;
    color: #F00;
    margin-bottom: 36px;

    @include onTablet {
      font-size: 25px;
      margin-bottom: 56px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    color: var(--text--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;

    @include onTablet {
      margin-bottom: 16px;
      font-size: 28px;
    }

    @include onDesktop {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 14px;
    padding: 11px 14px 11px 14px;
    border-radius: 30px;
    border: 1px solid $grey;
    background-color: var(--bg--box);
    color: var(--text--white);

    @include onTablet {
      border: 2px solid $grey;
      padding: 22px 28px;
      border-radius: 62px;
      font-size: 28.93px;
      line-height: 34px;
      margin-bottom: 28px;
    }

    @include onDesktop {
      padding: 10px 20px;
      margin-bottom: 30px;
      font-size: 14px;
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.45px;
      color: $grey;

      @include onTablet {
        font-size: 28.93px;
        line-height: 34px;
      }

      @include onDesktop {
        font-size: 14px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__flex {
    display: flex;
    gap: 28px;
    margin-bottom: 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-add {
      padding: 10px 34px;

      @include onTablet {
        padding: 20px 70px;
      }

      @include onDesktop {
        padding: 10px 40px;
      }
    }

    &--delete {
      border-radius: 20px;
      padding: 10px 34px;

      @include onTablet {
        font-size: 25px;
        padding: 18px 63px;
      }
    }

    &--center {
      justify-content: center;
    }
  }

  &__payout {
    margin: 0 -10px 22px;
    padding: 0;

    @include onTablet {
      margin-bottom: 30px;
    }

    &-btn {
      position: relative;
      font-size: 11px;
      line-height: 1.3em;
      text-align: center;
      padding: 10px 17px;
      background: #181A1E;

      @include onTablet {
        font-size: 21px;
        border-radius: 31px;
      }

      &--active {
        background: #3334FF;
      }
    }
  }
}
