.main {
  @include onDesktop {
    // box-sizing: border-box;
    padding: 180px 40px 67px;
    max-width: 1060px;
    margin: 0 auto;
  }

  &__container {
    padding: 0 12px;

    @include onTablet {
      padding: 0 24px;
    }

    @include onDesktop {
      padding: 0;
    }
  }

  &__slider {
    position: relative;

    margin-bottom: 40px;


    @include onTablet {
      margin-bottom: 42px;
    }

    @include onDesktop {
      margin-bottom: 42px;
    }

    &-container {
      overflow-x: hidden;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    position: relative;
    transition: all $duration;
    padding-left: 16vw;

    // padding: 0 70px;

    @include onDesktop {
      width: 100%;
      display: flex;
      gap: 30px;
      padding: 0;
    }

    &-container {
      flex-shrink: 0;
      width: 68vw;
      box-sizing: border-box;

      @include onDesktop {
        padding: 0;
        width: initial;
        flex-shrink: 1;
      }
    }

    &-card {
      width: 100%;
      box-shadow: 0px 4px 20px 0px #00000040;
    }

    &-add {
      color: var(--text--white);
      display: block;
      flex-shrink: 0;
      flex-grow: 1;
      background-color: var(--bg--box);
      border-radius: 20px;
      border: none;
      height: calc(100vw * 0.38);
      width: calc(100vw * 0.38);
      transform: scale(0.88);

      @include onDesktop {
        @include square(218px);
      }
    }
  }

  &__addCard {
    background: none;
    color: var(--text--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;

    &-container {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &-label {
      font-size: 20px;
      font-weight: 700;
      line-height: 26.04px;
    }

    &-plus {
      @include circle(30px);

      background: var(--text--white);
      display: flex;
      position: relative;

      &-svg {
        @extend %absCenter;
      }
    }
  }

  &__balance {
    color: var(--text--white);
    padding: 56px 20px 66px;
    background-color: var(--bg--box);
    margin: 12px 0;

    @extend %shadow;

    @include onTablet {
      margin: 24px;
      padding: 62px 0 82px 40px;

    }

    @include onDesktop {
      width: 382px;
      height: 218px;
      padding: 28px 88px 48px 28px;
    }

    &-title {
      font-size: 17px;
      font-weight: 500;
      margin: 0 0 27px;
      letter-spacing: -0.02em;

      @include onTablet {
        font-size: 35.13px;
        margin-bottom: 110px;
      }

      @include onDesktop {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
      }
    }

    &-value {
      font-size: 30px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.02em;

      @include onTablet {
        font-size: 62px;
        line-height: 50px;
      }

      @include onDesktop {
        font-size: 48px;
        font-weight: 700;
      }
    }
  }
}
