$bg: #F1F4FF;
//  --color--page:
// $bg: #09090a;
$black: #121212;
$textBlack: #000;
$textWhite: #fff;
$grey: #A3AED0;
$main: linear-gradient(180deg, #70A9FF 0%, #0149B4 100%, #316EC9 100%);
// $main: linear-gradient(180deg, #193c70 0%, #12284b 100%, #03080f 100%);
$detailBG: #71A9FF;
$white: #fff;
$logoBG:#FEF9F3;
$menuItems: #124897;
$menuItemsActive: #092145;
$textGray: #434343;
$textBlue: #2A578B;
$payout: #4777F2;




$duration: 0.3s;




